.user-panel-wrapper{
    position: relative;
    .add-user-div{
        display: flex;
    }

    .user-table{
        margin-top: 24px;
        padding: 12px;
        border-radius: 2px;
        box-shadow: 0 2px 8px 0 rgba(38, 40, 42, 0.3);
        background-color: #fff;
        table {
            width: 100%;
            border-collapse: collapse;

            .table-button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                &.user-delete-button:hover {
                    color: #f44336;
                }
            }
          }
      
          thead {
            background-color: #555;
            border-bottom: 1px solid #e0e0e0;
            
            th {
              padding: 12px;
              font-size: 14px;
              font-weight: 500;
              color: #fff;
              text-align: left;
            }
          }
      
          tbody {
            tr {
              border-bottom: 1px solid #e0e0e0;
      
              td {
                padding: 12px;
                font-size: 14px;
                font-weight: 400;
                color: #555;
                text-align: left;
                &:last-child {
                  text-align: center;
                }
              }
      
            }
          }
    }



    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Burada 0.5, blurlama düzeyini ayarlar */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000; /* Modalın üzerinde olmasını sağlar, modalın z-index'ini daha yüksek bir değerle ayarlamak önemlidir */
      }
}

@media (max-width: 767px) {
    .user-panel-wrapper{
        .user-table{
            table{
                td{
                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }
    }
}